html,
body {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  background-color: #fafafa;
}

ul,
li {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
